/*
 *	预定义的sass变量和函数
 */


$link: #4298ba;
$link-hover: #0f769f;

$err:#c21;

$err-bg:#f3e1dd;
$err-bo:#e2afaf;
$err-txt:#cf372b;

$wra-bg:#fff7d5;
$wra-bo:#ecca82;
$wra-txt:#f68539;

$suc:#6a3;

$suc-bg:#e7f3d7;
$suc-bo:#a6d09a;
$suc-txt:#3d9e00;

$inf-bg:#e3f2f7;
$inf-bo:#bedde7;
$inf-txt:#356;

$text:#333;
$text-h:#000;
$text-l:#555;
$text-ll:#887;
$text-lll:#999;

$cal-colors: #d64d4d #ef6559 #e28b41 #c8a732 #a9bb41 #58b651 #209361 #3fa8aa #418caf #437298 #7071ac #946fc2 #c666b3 #f5539f #aa8773 #7f604e #777777 #444444;

////////////////- Mixins
@mixin unselect() {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

@mixin text-shadow($x:0, $y:1px, $depth:0px, $color:rgba(255,255,255,1)) {
	-webkit-text-shadow: $x $y $depth $color;
	-moz-text-shadow: $x $y $depth $color;
	text-shadow: $x $y $depth $color;
}

@mixin box-shadow ($x:1px, $y:2px, $depth:8px, $color:rgba(80,50,0,0.2)) {
	-webkit-box-shadow: $x $y $depth $color;
	-moz-box-shadow: $x $y $depth $color;
	box-shadow: $x $y $depth $color;
}

@mixin box-shadow-inset ($x:1px, $y:2px, $depth:8px, $color:rgba(80,50,0,0.2)) {
	-webkit-box-shadow: inset $x $y $depth $color;
	-moz-box-shadow: inset $x $y $depth $color;
	box-shadow: inset $x $y $depth $color;
}

@mixin background-image ($x,$y) {
	background-image: -webkit-linear-gradient(top, $x, $y);
	background-image:    -moz-linear-gradient(top, $x, $y);
	background-image:         linear-gradient(to bottom, $x, $y);
}

@mixin radius ($x:4px) {
	-moz-border-radius: $x;
	-webkit-border-radius: $x;
	border-radius: $x;
}

@mixin border-radius($x, $y, $m, $n) {
	-moz-border-radius: $x $y $m $n;
	-webkit-border-radius: $x $y $m $n;
	border-radius: $x $y $m $n;
}

@mixin transition ($x, $y:all) {
		-webkit-transition: $y $x ease-in-out;
			 -moz-transition: $y $x ease-in-out;
						transition: $y $x ease-in-out;
}

@mixin transform-transition ($x) {
		-webkit-transition: -webkit-transform $x ease-in-out;
			 -moz-transition: -moz-transform $x ease-in-out;
						transition: transform $x ease-in-out;
}

@mixin scale($percent) {
	-webkit-transform: scale($percent);
	-moz-transform: scale($percent);
	transform: scale($percent);
}

@mixin delay($x:0.2s) {
	transition-delay: $x;
	-moz-transition-delay: $x;
	-webkit-transition-delay: $x;
	-o-transition-delay: $x;
}

@mixin background-gradient($to, $from) {
	background-color: $to;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
	background: -webkit-linear-gradient(top, $to, $from);
	background: -moz-linear-gradient(top, $to, $from);
	background: -ms-linear-gradient(top, $to, $from);
	background: -o-linear-gradient(top, $to, $from);
	background: linear-gradient(top, $to, $from);
}

@mixin clearfix {
	*zoom: 1;
	&:before, &:after {
		display:table;
		content:"";
	}
	&:after {
		clear: both;
		height: 0;
		visibility: hidden;
	}
}

@mixin at2x($path, $ext: "jpg", $w: auto, $h: auto) {
	background-image: image-url("#{$path}.#{$ext}");
	background-repeat: no-repeat;
	background-size: $w $h;

	@media all and (-webkit-min-device-pixel-ratio : 1.5),
				 all and (-o-min-device-pixel-ratio: 3/2),
				 all and (min--moz-device-pixel-ratio: 1.5),
				 all and (min-device-pixel-ratio: 1.5) {
					 background-image: image-url("#{$path}@2x.#{$ext}");
					 background-size: $w $h;
	}
}

@font-face{
	font-family: "towericon";
	src: font-url("towericon.woff");
	src: font-url("towericon.eot");
	src: font-url("towericon.eot?#iefix") format('embedded-opentype'),
		 font-url("towericon.woff") format('woff'),
		 font-url("towericon.ttf")  format('truetype');
}


//////// Extend class

.text-overflow {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.break-word {
	word-break: break-all;
	word-wrap: break-word;
}

