@import "function";

body.no-scroll {
	overflow: hidden;
}

.gallery-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0; left: 0;
	z-index: 9999;
	@include unselect;
	@include transition(350ms);

	&.modal { background-color: rgba(0,0,0,0.6); }

	.gallery-img {
		position: absolute;
		cursor: pointer;
		top: 0; left: 0;
		bottom: 0; right: 0;
		margin: auto;
		transition: width 300ms, height 300ms, top 300ms, left 300ms;
		-moz-transition: width 300ms, height 300ms, top 300ms, left 300ms;
		-webkit-transition: width 300ms, height 300ms, top 300ms, left 300ms;

		img {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			background: #fff;
			top: 0; left: 0; bottom: 0; right: 0;
			margin: auto;
			@include transition(350ms);
			@include box-shadow(0, 0, 28px, rgba(0,0,0,0.2));
		}

		.loading-indicator {
			display: none;
			position: absolute;
			top: 50%; left: 50%;
			width: 30px; height: 28px;
			@include at2x('loading', gif, 30px, 28px);
			background-color: #fff;
			@include radius(50%);
		}

		&.loading .loading-indicator {
			display: block;
		}
	}

	.gallery-detail {
		position: absolute;
		bottom: 0; left: 0;
		width: 100%;
		font-size: 16px;
		color: #fff;
		background-color: rgba(0,0,0,0.4);

		.name {
			margin: 14px 0 14px 20px;
			display: inline-block;
			max-width: 600px;
			@extend .text-overflow;
		}

		a {
			float: right;
			width: 60px;
			padding: 15px 0 12px;
			text-align: center;
			font-size: 20px;
			color: #999;

			&:hover {
				color: #fff;
				background-color: $link;
			}
		}
	}

	.gallery {
		position: absolute;
		top: 0; bottom: 0; right: 0; left: 0;
		width: 110px; height: auto;
		margin-bottom: 50px;
		overflow-y: auto;
		overflow-x: hidden;

		.thumb {
			float: left;
			margin: 10px 9px 0;
			width: 82px;

			a {
				display: block;
				overflow: hidden;
				opacity: 0.6;
				background-color: #fff;

				img {
					display: block;
					margin: auto;
					max-height: 60px; max-width: 80px;
					border: 1px solid rgba(255,255,255,0.3);
				}

				&:hover {
					opacity: 1;
				}
			}

			&.selected a {
				opacity: 1;
				img {
					border-color: #fff;
					@include box-shadow(0,0,6px,rgba(0,0,0,0.4));
				}
			}
		}
	}
}

