@charset "UTF-8";
/*
 *	预定义的sass变量和函数
 */
@font-face {
  font-family: "towericon";
  src: font-url("towericon.woff");
  src: font-url("towericon.eot");
  src: font-url("towericon.eot?#iefix") format("embedded-opentype"), font-url("towericon.woff") format("woff"), font-url("towericon.ttf") format("truetype");
}
.text-overflow, .gallery-wrapper .gallery-detail .name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.break-word {
  word-break: break-all;
  word-wrap: break-word;
}

body.no-scroll {
  overflow: hidden;
}

.gallery-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
.gallery-wrapper.modal {
  background-color: rgba(0, 0, 0, 0.6);
}
.gallery-wrapper .gallery-img {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transition: width 300ms, height 300ms, top 300ms, left 300ms;
  -moz-transition: width 300ms, height 300ms, top 300ms, left 300ms;
  -webkit-transition: width 300ms, height 300ms, top 300ms, left 300ms;
}
.gallery-wrapper .gallery-img img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  -webkit-box-shadow: 0 0 28px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 28px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 28px rgba(0, 0, 0, 0.2);
}
.gallery-wrapper .gallery-img .loading-indicator {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 28px;
  background-image: image-url("loading.gif");
  background-repeat: no-repeat;
  background-size: 30px 28px;
  background-color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .gallery-wrapper .gallery-img .loading-indicator {
    background-image: image-url("loading@2x.gif");
    background-size: 30px 28px;
  }
}
.gallery-wrapper .gallery-img.loading .loading-indicator {
  display: block;
}
.gallery-wrapper .gallery-detail {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 16px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}
.gallery-wrapper .gallery-detail .name {
  margin: 14px 0 14px 20px;
  display: inline-block;
  max-width: 600px;
}
.gallery-wrapper .gallery-detail a {
  float: right;
  width: 60px;
  padding: 15px 0 12px;
  text-align: center;
  font-size: 20px;
  color: #999;
}
.gallery-wrapper .gallery-detail a:hover {
  color: #fff;
  background-color: #4298ba;
}
.gallery-wrapper .gallery {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 110px;
  height: auto;
  margin-bottom: 50px;
  overflow-y: auto;
  overflow-x: hidden;
}
.gallery-wrapper .gallery .thumb {
  float: left;
  margin: 10px 9px 0;
  width: 82px;
}
.gallery-wrapper .gallery .thumb a {
  display: block;
  overflow: hidden;
  opacity: 0.6;
  background-color: #fff;
}
.gallery-wrapper .gallery .thumb a img {
  display: block;
  margin: auto;
  max-height: 60px;
  max-width: 80px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.gallery-wrapper .gallery .thumb a:hover {
  opacity: 1;
}
.gallery-wrapper .gallery .thumb.selected a {
  opacity: 1;
}
.gallery-wrapper .gallery .thumb.selected a img {
  border-color: #fff;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}
